* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    color: black;

    /* Variabler */

    --dec-width:        4px;

    --bg0:              rgb(250, 235, 215);
    --bg1:              rgb(245, 220, 189);
    /* --bg2:              rgb(247, 227, 202); */
    --bg2:              #ebd2b0;
    --bg3:              #fff8f0;

    --accent-primary:   rgb(189, 168, 110);
    --accent-secondary: red;
    --maroon:           maroon;
    --light-maroon:     #c70c0c;

    --nav-height:       144px;
}

body {
    z-index: 1;
    /*width: 100%;*/
    height: 100vh;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;

    grid-template-areas: "titlebar"
                         "content";

    background-color: var(--bg0);
}

* {
    font-family: 'Newsreader';
}

.error {
    color: red;
    text-align: right;
    text-decoration: spelling-error;
    font-size: 22px;
}

p, a, li {
    font-size: 19px;
}

ul {
    padding-left: 20px;
}

.titlebar {
    grid-area: titlebar;

    z-index: 1000;
    display: flex;
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: var(--nav-height);

    padding: 10px;
    padding-top: 0px;
    padding-right: 0px;

    background-color: var(--bg1);
    border-bottom: var(--accent-primary) var(--dec-width) solid;
}

.titlebar ul {
    display: flex;
    float: left;

    justify-content: center;
    margin: auto;
    margin-right: 40px;

    height: 40px;
}

.titlebar ul li {
    display: inline-block;

    background-color: var(--bg2);
    box-shadow: var(--dec-width) var(--dec-width) var(--accent-primary);

    padding: 0px 20px;
    margin-right: 20px;

    height: 50px;
}

.titlebar ul li:hover {
    box-shadow: calc(var(--dec-width)) calc(var(--dec-width)) var(--accent-secondary);
}

.titlebar ul li:active {
    /* background-color: var(--accent-primary); */
    /* box-shadow: calc(var(--dec-width) * 2/3) calc(var(--dec-width) * 2/3) var(--accent-secondary); */

    background-color: var(--bg2);
    box-shadow: var(--dec-width) var(--dec-width) var(--accent-primary);
}

.nav-link {
    line-height: 300%;
    text-decoration: none;
    color: black;
}

/* .titlebar ul li:hover .nav-link { */
/*     color: var(--bg0); */
/* } */

.burger-line, .burger {
    display: none;
}

.burger:active {
    box-shadow: 0px 0px;
}

#kattmysbild:hover {
    /* cool skugga som jack inte vill ha (rövhål) */
    /* -webkit-filter: drop-shadow(2px 2px 2px #222); */
    /* filter: drop-shadow(2px 2px 2px #222); */
}

#kattmysbild {
    margin-top: 10px;
    transition: 0.3s;
    height: 120px;
    float: left;
}

#finurligkatt {
    z-index: 10;
    
    margin-top: 20px;
    height: 110px;
    float: right;
}

.links li a {
    text-decoration: none;
    color: #0b0788;
}

.links li a:hover {
    text-decoration: underline;
}

main {
    grid-area: content;
    margin-top: var(--nav-height);
    padding: 15px;
    background-color: var(--bg0);

    height: auto;
}

@media only screen and (max-width: 666px) {
    .titlebar {
        height: unset;
    }
    
    main {
        margin-top:  calc(min(120px, 18vw) + 19px);
    }
}

@media only screen and (max-width: 900px) {
    #finurligkatt {
        display: none;
    }
}

@media only screen and (max-width: 835px) {
    .titlebar ul,
    #finurligkatt {
        display: none;
    }

    .burger {
        display: block;

        margin: auto;
        margin-right: 30px;

        padding-top: 5px;

        background-color: maroon;
        box-shadow: var(--dec-width) var(--dec-width) var(--accent-secondary);

        height: 50px;
        width: 50px;
    }

    .burger-line {
        position: relative;
        display: block;
        height: 3px;
        width: 40px;

        margin: 7px auto;

        background-color: white;
    }

    #kattmysbild {
        height: min(120px, 18vw);
    }

    .content-item {
        text-align: center;
    }

    .links {
        text-align: center;
        list-style-type: none;
        padding-left: 0;
    }
}
