main {
    --margin: 100px;
    padding-left:  var(--margin) !important;
    padding-right: var(--margin) !important;
}

main section {
    padding: 15px;
    background-color: rgb(245, 220, 189);
    height: 80%;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "left . right"
                         "download . right";
}

#leftcolumn {
    grid-area: left;
}

#leftcolumn h1 {
    padding-bottom: 5px;
}

#leftcolumn p {

}

#download {
    grid-area: download;
    margin-top: 40px;
}

#download a {
    background-color: maroon;
    border-radius: 20px;
    color: white;
    padding: 20px;
}

main section img {
    grid-area: right;
    height: 100%;
    position: relative;

    /* enbart för demonstrativa skäl,
     * skiten fungerar inte */
    right: 130px;
}
