section {
    padding: 15px;
    background-color: rgb(245, 220, 189);
    height: auto;

}

p {
    margin-bottom: 10px;
}

#header {
    margin-bottom: 3px;
}

#text {
    white-space: pre-wrap;
}

#download a {
    display: block;

    width: 100%;
    height: 100%;

    text-decoration: none;
    text-align: center;
    line-height: 40px;    
    color: white;
}

#download a:hover {
    text-decoration: underline;
}

#download {
    height: 40px;
    /* width: 100%; */
    width: 200px;

    margin: 0 auto;

    /* adjust margin to the border */
    margin-top: 20px;
    margin-bottom: calc(20px + var(--dec-width));

    background-color: maroon;
    box-shadow: var(--dec-width) var(--dec-width) red;
}

#download:hover {
    background-color: red;
    box-shadow: var(--dec-width) var(--dec-width) maroon;
}

#download:active {
    background-color: maroon;
    box-shadow: var(--dec-width) var(--dec-width) red;
}

.download-img {
    margin-bottom: 10px;
    box-shadow: var(--dec-width) var(--dec-width) red;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    main {
        position: relative;
    }

    #desc, #header {
        text-align: center;
    }
}

@media only screen and (min-width: 800px) {
    section {
        display: grid;

        text-align: left;

        height: auto;
        min-height: 100%;
        box-shadow: var(--dec-width) var(--dec-width) rgb(189, 168, 110); 

        grid-template-columns: 1fr min-content;
        grid-template-rows: auto;
        grid-template-areas: "left right";
    }

    .right { grid-area: right; }
    .left  { grid-area: left;  }

    .left {
        padding-right: 20px;
    }

    #download {
        margin-left:  initial;
        margin-right: initial;
    }

    #download-images {
        width: fit-content;
        margin: initial;
        /* grid-area: images; */
        /* height: 100%; */
    }

    .download-img {
        /* max-width: 90%; */
        /* width: 320px; */
        min-width: 420px;
        float: right;
        margin-bottom: 20px;
    }

    /* h2        { grid-area: ih2; } */
    /* p         { grid-area: ip; } */
    /* #download { grid-area: down; } */
}
