{% extends "base.html" %}

{% block head_ext %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download_page.css') }}">
{% endblock %}

{% block content %}
<main>
    <section>
        <div id="leftcolumn">
            <h1>{{ data.name }}</h1>
            <p>{{ data.desc }}</p>
        </div>
        <div id="download">
            <a href="{{ url_for('static', filename=data.file) }}">Ladda ner här</a>
        </div>
        <img src="{{ url_for('static', filename=data.image) }}">
    </section>
</main>
{% endblock %}
