{% extends "base.html" %}

{% block title %}{{ data.name }}{% endblock %}

{% block head_ext %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download_page.css') }}">
{% endblock %}

{% block content %}
<main>
    <section>
        <div class="left">
            <h2 id="header">{{ data.name }}</h2>

            {% if not data.error %}
                <p id="desc">{{ data.desc }}</p>

                {% if data.links|length != 0 %}
                    <ul class="links">
                        {% for link in data.links %}
                            <li><a href="{{ data.links[link] }}">{{ link }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div id="download">
                    <a href="{{ url_for('static', filename=data.file) }}">Ladda ner</a>
                </div>

                <p id="text">{{ data.text }}</p>
            {% endif %}
        </div>

        <div class="right">
            {% if not data.error %}
                <div id="download-images">
                    {% for img in data.images %}
                        <img class="download-img" src="{{ url_for('static', filename=img ) }}">
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}
