{% extends "base.html" %}

{% block title %} Våra projekt {% endblock %}

{% block head_ext %}
    <link rel="stylesheet" href="{{ url_for('home') }}">
{% endblock %}

{% block content %}
<main>
    {% for info in data %}
    <section class="content-item">
        <h2><div class="star">★</div> {{ info.header }} <div class="star">★</div></h2>
            <p>{{ info.description }}</p>
            <ul>
                {% for link in info.links %}
                    <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endfor %}
</main>
{% endblock %}
