{% extends "base.html" %}

{% block title %} Logga in kattmys {% endblock %}

{% block head_ext %}
   <link rel="stylesheet" href="{{ url_for("static", filename="css/login.css") }}">
{% endblock %}

{% block content %}
"
<main>
    <div id="content">
        {% if sign_up %}
        <form method="POST" action="/handle_sign_up">
            <h2>Skapa ett konto!</h2>

            <label class="label" for="uname">Username</label>
            <input class="field" type="text" placeholder="Enter Username" id="uname" name="uname" required>

        {% else %}
        <form method="POST" action="/handle_log_in">
            <h2>Logga in!</h2>

        {% endif %}
        
            <label class="label" for="email">Email</label>
            <input class="field" type="text" placeholder="Enter email address" id="email" name="email" required>

            <label class="label" for="psw">Password</label>
            <input class="field" type="password" placeholder="Enter password" id="psw" name="psw" required>

            {% if sign_up %}
                <label class="label" for="psw2">Re-enter Password</label>
                <input class="field" type="password" placeholder="Re-Enter password" id="psw2" name="psw2" required>
            {% endif %}

            <label class="label">
                <input type="checkbox" checked="checked" name="Remember me"> Remember me
            </label>

            <button class="field" type="submit">
                {% if sign_up %}
                Sign in
                {% else %}
                Log in
                {% endif %}
            </button>
        </form>
        {% if msg %}
        <p class="error">{{ msg }}</p>
        {% endif %}
    </div>
</main>
{% endblock %}

